body{
    background-image: url("fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    overflow: hidden;
    font-family: fuentePokemon;
    -webkit-text-stroke: 2px #2a75bb;
    color:#ffcb05;
}
@font-face {
    font-family: fuentePokemon;
    src: url(Pokemon\ Solid.ttf);
}
