*{
    cursor: url('cursor.png'), auto;
}
body{
    background-image: url("fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    overflow: hidden;
    font-family: fuentePokemon;
    -webkit-text-stroke: 2px #2a75bb;
    color:#ffcb05;
    width: 100%;
    height: 918px;
    display: flex;
    flex-direction: column;
}
@font-face {
    font-family: fuentePokemon;
    src: url(Pokemon\ Solid.ttf);
}

#textoDelResultado{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#botonRank{
   visibility: hidden;
}

#lasFotos{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
}
#divTrainer{
    height: 100%;
    width: 35%;
    display: flex;
}
#divPokibola{
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#divPokibola img{
    width: 100px;
    height: 100px;
}

#divPokemones{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#divPokemones img{
    width: 400px;
    height: 400px;
}

.fondoVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}